<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<link th:include="navbar.html">
<body>
<main role="main" class="container">
<div class="starter-template">
    <h4 th:text="#{createsub}"></h4>

    <form method="post" th:action="@{/tasks/{id}/sub/create(id=${task.id})}" th:object="${subtask}">

        <label for="title" th:text="#{titlehead}"></label>
        <input class="form-control" type="text" name="title" id="title" th:field="*{title}">
        <p th:errors="*{title}"></p>

        <label for="description" th:text="#{deschead}"></label>
        <input class="form-control" type="text" name="description" id="description" th:field="*{description}">
        <p th:errors="*{description}"></p>
        <p></p>
        <input class="btn btn-dark" type="submit" th:value="#{createsubtask}">
    </form>
</div>
</main>
</body>
</html>